body {
    background-color:  #F6F6F6;
    padding-top: 50px;
}

.container {
    width: 72%;
    margin: 0 auto;
}

.vector {
    position: absolute;
    top: 50px;
    left: 70px;
    width: 10px;
    height: 16px;
    padding: 16px 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.user_info {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.user_info :first-child {
    margin-right: 50px;
}

.active_page {
    text-decoration: underline;
    padding-bottom: 5px;
}

/* inputs css */

form {
    width: 63%;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 50px;
}

.name {
    width: calc(878PX/2 - 140PX);
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
}

/* submit button css */

.submit-button {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.submit-button button {
    padding: 18px 40px;
    border-radius: 8px;
    background-color: #62A1EB;
    color: #fff;
    border-color: #62A1EB;
    cursor: pointer;
}

.contact-field {
    width: 100%;
    background-color: #EBEBEB;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    height: 55px;
    border-radius: 8px;
    margin-top: 10px;
}

.contact-field input{
    margin-top: 10px;
}

.contact-info input {
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
}

.red-comment {
    color: #00000099;
}


input:invalid ~ .red-comment {
    color: red;
}

input:invalid {
    border-color: red;
}

.cpu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.cpu-width {
    width: 170px;
    height: 60px;
    margin-top: 0;
}



